body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #3498db, #2c3e50);
  animation: gradientAnimation 15s ease infinite alternate; /* Ajustando a duração e a função de temporização */
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to bottom, #3498db, #001f3f);
  }
  10% {
    background: linear-gradient(to bottom, #87CEEB, #001F3F);
  }
  25% {
    background: linear-gradient(to bottom, #40E0D0, #4169E1);
  }
  40% {
    background: linear-gradient(to bottom, #4B0082, #008080);
  }
  50% {
    background: linear-gradient(to bottom, #4B0082, #B0E0E6);
  }
  60% {
    background: linear-gradient(to bottom, #3498db, #001f3f);
  }
  75% {
    background: linear-gradient(to bottom, #87CEEB, #001F3F);
  }
  90% {
    background: linear-gradient(to bottom, #40E0D0, #4169E1);
  }
  100% {
    background: linear-gradient(to bottom, #4B0082, #008080);
  }
}

.container {
  perspective: 800px;
}

.contact-form {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(to bottom, #3498db, #001f3f); /* Gradiente de cores para o formulário */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border 0.3s; /* Adicionando transição para o efeito de borda */
}

.contact-form:hover {
  border: 2px solid #3498db; /* Adicionando borda ao passar o mouse */
}

h1 {
  text-align: center;
  color: #ecf0f1;
}

label {
  color: #ecf0f1;
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: calc(100% - 16px); /* Ajustando a largura para considerar as margens */
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #3498db, #001f3f); /* Gradiente de cores para os campos de entrada */
  color: #ecf0f1;
  transition: background 0.3s; /* Adicionando transição para o fundo */
}

input:focus,
textarea:focus {
  background: linear-gradient(to bottom, #87CEEB, #001F3F); /* Gradiente de cores ao focar */
}

button {
  width: 100%;
  padding: 10px;
  background: #2c3e50;
  color: #ecf0f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s; /* Adicionando transição para o fundo do botão */
}

button:hover {
  background: #1f2b38;
}
